# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific configurations
.vscode/
.idea/
*.user
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore compiled C++ objects that might be generated locally by mistake
*.o
*.so
*.a
